Repository pNagi/cat-expense: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,cjs,mjs,ts,tsx}": ["eslint --fix"],
  "*.{json,html}": "prettier --write"
}

Config tailwind
  .vscode/extensions.json
  .vscode/settings.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  postcss.config.js
  prettier.config.js
  src/index.css
  tailwind.config.js
Due: eslint --fix, prettier --write

Config component lib, daisyui
  package.json
  prettier.config.js
  tailwind.config.js
Due: eslint --fix, prettier --write

Add storybook
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/stories/Configure.mdx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  tsconfig.app.json
  tsconfig.node.json
Due: eslint --fix, prettier --write

Add react query
  eslint.config.js
  index.html
  package.json
  pnpm-lock.yaml
  src/App.css
  src/App.tsx
  src/pages/ExpensePage.tsx
Due: eslint --fix, prettier --write

Create form element
  package.json
  pnpm-lock.yaml
  src/ui-kit/FormElement.stories.tsx
  src/ui-kit/FormElement.tsx
Due: eslint --fix, prettier --write

Create schema and validator with tests
  .lintstagedrc
  package.json
  pnpm-lock.yaml
  src/api/expense/schema.ts
  src/api/expense/validator.test.ts
  src/api/expense/validator.ts
  src/utils/formData.test.ts
  src/utils/formData.ts
  tsconfig.node.json
  vitest.config.ts
Due: eslint --fix, prettier --write

Create expense detail form
  .lintstagedrc
  src/api/expense/types.ts
  src/components/ExpenseDetailForm.stories.tsx
  src/components/ExpenseDetailForm.tsx
  src/translations.ts
  src/ui-kit/SubmitButton.stories.tsx
  src/ui-kit/SubmitButton.tsx
Due: eslint --fix

Create temp storage
  src/api/expense/storage.test.ts
  src/api/expense/storage.ts
Due: eslint --fix

Create submit action and get hook
  src/api/constants.ts
  src/api/expense/actions.ts
  src/api/expense/useExpense.ts
  src/pages/ExpensePage.tsx
  src/utils/delay.ts
  tailwind.config.js
Due: eslint --fix

Create get cat fact hook
  src/api/cat-fact/instance.ts
  src/api/cat-fact/schema.ts
  src/api/cat-fact/useCatFact.ts
  src/api/constants.ts
Due: eslint --fix

Wrap expense detail form in a modal
  src/index.css
  src/pages/ExpensePage.tsx
  src/translations.ts
  src/ui-kit/Modal.tsx
  src/ui-kit/ModalCloseButton.tsx
Due: eslint --fix

Create expense table
  src/components/ExpenseTable.stories.tsx
  src/components/ExpenseTable.tsx
  src/pages/ExpensePage.tsx
  src/translations.ts
Due: eslint --fix

Handle after submit form: close modal, reset form on success
  src/hooks/useAddExpenseDetailForm.ts
  src/pages/ExpensePage.tsx
Due: eslint --fix

Handle delete action
  src/api/expense/actions.ts
  src/api/expense/validator.ts
  src/hooks/useDeleteExpenseDetailForm.ts
  src/pages/ExpensePage.tsx
  src/translations.ts
Due: eslint --fix

Update README.md
  README.md
Due: none

Change top of all fetaure to top category (per requirement)
  src/api/expense/schema.ts
  src/api/expense/storage.test.ts
  src/api/expense/storage.ts
  src/components/ExpenseDetailForm.tsx
  src/components/ExpenseTable.stories.tsx
  src/components/ExpenseTable.tsx
  src/pages/ExpensePage.tsx
  src/translations.ts
Due: eslint --fix

Update UI styling
  package.json
  pnpm-lock.yaml
  src/components/ExpenseTable.tsx
  src/pages/ExpensePage.tsx
  src/translations.ts
  src/ui-kit/SubmitButton.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

Fix loading overlay not full screen and table mobile padding
  src/components/ExpenseTable.tsx
  src/pages/ExpensePage.tsx
Due: eslint --fix

Add tooltip amount to show actual amount
  src/components/ExpenseTable.tsx
Due: eslint --fix

Fix top category can be multiple
  src/api/expense/schema.ts
  src/api/expense/storage.test.ts
  src/api/expense/storage.ts
  src/components/ExpenseTable.stories.tsx
  src/components/ExpenseTable.tsx
  src/pages/ExpensePage.tsx
Due: eslint --fix
